#Hey everyone this is the program
y = 3 
print(y)
0
0
0
0
0
0
0
0
0
0
0
0
0
0

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

0
0
0
0
0
0
















































































































































































































































































































































































200
